@import "./utils.scss";

.banner{
    width:70%;
    opacity: .8;
    height: 49vh;
    color: white;
    padding: 4rem;
    margin: 2rem 15rem;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include flexer(center,flex-start);
    background-image: url("../../public/bulb.jpg");

    .bannercontent{
        
    }
}