@import "./utils.scss";

.h2{
     margin: 1px 0 0;
     font-size: 2.5rem;
     color: $color3;
     text-align: center;
     font-family: $font3;
     font-weight: bold;
 }

.blog{
    margin: 0rem  5rem 2rem;
    width: 85vw;
    @include flexer();
    

    .blogs{
        width: 60vw;
        flex-wrap: wrap;
        @include flexer();
    }

    .bloog{
        width: 25vw;
        border-radius: 10px;
        background: $color1;
        height: 35vh;
        padding: 1rem;
        color: white;
        @include flexer(column,flex-start);

        .message{
            gap: 1.5rem;
            @include flexer();
            margin-bottom: 1rem;

            .msg{
                background: $color;
                height: 60px;
                border-radius: 50%  ;
                width: 95px;
                @include flexer();
                font-size: 2.8rem;
                color: $color1;
            }

            h3{
                font-size: 2rem;
            }
        }
    }

    @media screen and (max-width:1025px) {
        margin: 0rem 0rem;
    }
}