@import "./utils.scss";

.blogcontainer {
    width: 23vw;
    margin-left: 10rem;
    margin-bottom: 2rem;
    border: 2px solid black;
    border-radius: 15px;
  @include flexer(column);

  .top {
    .img {
      height: 18vh;
      width: 23vw;
    }
  }

  .bottom {
    padding: 1rem 2rem;
    button {
      margin: 2rem 0;
      background: $color2;
      font-size: 0.9rem;
      font-family: $font2;
      border-radius: 3px;
      color: white;
      border: none;
      outline: none;
      padding: 0.2rem 1rem;
    }
  }
}
