@import "./utils.scss";

.h2{
     margin: 1px 0 0;
     font-size: 2.5rem;
     color: $color3;
     text-align: center;
     font-family: $font3;
     font-weight: bold;
 }

.blog{
    margin: 0rem  5rem 2rem;
    width: 85vw;
    @include flexer();
    

    .blogs{
        width: 60vw;
        flex-wrap: wrap;
        @include flexer();
    }

    .bloog{
        width: 25vw;
        border-radius: 10px;
        background: $color1;
        height: 35vh;
        padding: 1rem;
        color: white;
        @include flexer(column,flex-start);

        .message{
            gap: 1.5rem;
            @include flexer();
            margin-bottom: 1rem;

            .msg{
                background: $color;
                height: 60px;
                border-radius: 50%  ;
                width: 95px;
                @include flexer();
                font-size: 2.8rem;
                color: $color1;
            }

            h3{
                font-size: 2rem;
                font-family: $font1;
            }
        }

        p{
            margin-bottom: 1rem;
            font-size: 1.1rem;
        }

        .input {
            width: 100%;
            margin-bottom: 1rem;
            caret-color: white;
            outline: none;
            height: 2.5rem;
            padding-left: 1rem;
            background: $color1;
            color: white;
            border: none;
            border-bottom: 2px solid white;
            font-size: 1.3rem;

            &::placeholder{
                color: white;
            }
        }

        button{
            background: $color;
            border: none;
            outline: none;
            height: 2.5rem;
            margin-top: .5rem;
            font-size: 1.1rem;
            color: $color1;
            width: 150px;
            border-radius: 30px;

            &:hover{
                background: transparent;
                color: white;
                border: 1px solid white;
                transition: all .2s ease-in;
                cursor: pointer;
            }
        }
        
    }

    @media screen and (max-width:1025px) {
        margin: 0rem 0rem;
    }
}