@import "./utils.scss";

.h2{
     margin: 1px 0 0;
     font-size: 2.5rem;
     color: $color3;
     text-align: center;
     font-family: $font3;
     font-weight: bold;
 }

.blog{
    margin: 0rem  5rem 2rem;
    width: 85vw;
    @include flexer();
    

    .blogs{
        width: 60vw;
        flex-wrap: wrap;
        @include flexer();
    }

    .bloog{
        width: 24vw;
        border-radius: 10px;
        background: purple;
        height: 35vh;
        @include flexer(flex-start);
    }

    @media screen and (max-width:1025px) {
        margin: 0rem 0rem;
    }
}