@import "./utils.scss";

.header{
    // background: #000;
    height: fit-content;
    border-bottom: $border;
    width: 100vw;
    padding: 1rem 6rem;
    @include flexer(row,space-between);
    // color: white;

    h2{
        font-size: 3rem
        
    }

    // .img{
    //     height: 8vh;
    // }

    .rightheader{
        @include flexer();
        gap: 2rem;

        .icon{
            font-size: 1.1rem;
        }
        
        p{
            font-size: 1.1rem;
        }

        button{
            padding: .4rem .8rem;
            border: none;
            outline: none;
            border-radius: 50px;
            background: $color4;

            &:hover{
                background: $color4a;
                transition: all .3s ease-in-out;
                cursor: pointer;
            }
        }
    }
}