@import "./utils";

.header {
  height: fit-content;
  box-shadow: $shadow;
  border-bottom: $border;
  width: 100vw;
  padding: 1rem 6rem;
  @include flexer(row, space-between);

  h2 {
    font-size: 3rem;
    font-family: $font1;
  }

  .rightheader {
    @include flexer();
    gap: 2rem;

    .icon {
      font-size: 1.1rem;
    }

    p {
      font-size: 1.1rem;
      cursor: pointer;
      font-family: $font2;
    }

    button {
      padding: 0.4rem 0.8rem;
      border: none;
      outline: none;
      border-radius: 50px;
      background: $color4;
      font-size: 1.1rem;
      font-family: $font2;

      &:hover {
        background: $color4a;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
      }
    }
  }
}
