@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

$color: #fff;
$color1: #4d65f2;
$color2: #39c2a1;
$color3: #9b9b9b;
$color4: #efc234;
$color4a: #daae23;
$color5: #4a4a4a;
$border: 1px solid #80808047;

$font: 'Marck Script', cursive;
$font1:  'Kaushan Script', cursive;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin flexer($dir: row, $justify: center, $items: center) {
  display: flex;
  justify-content: $justify;
  align-items: $items;
  flex-direction: $dir;
}