$color: #fff;
$color1: #4d65f2;
$color2: #39c2a1;
$color3: #9b9b9b;
$color4: #efc234;
$color5: #4a4a4a;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin flexer($dir: row, $justify: center, $items: center) {
  display: flex;
  justify-content: $justify;
  align-items: $items;
  flex-direction: $dir;
}