$color1: rgb(78, 78, 78);
$color2: rgba(58, 57, 57, 0.288);
$color3: rgb(39, 39, 39);
$bcolor1: #f9f9f926;
$color: #810b07;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin flexer($dir: row, $justify: center, $items: center) {
  display: flex;
  justify-content: $justify;
  align-items: $items;
  flex-direction: $dir;
}